body{
    /*background-color: firebrick; */
    padding:0px;
    max-width:800px;
    margin:auto;
    border-radius:5px;
    border-style: solid;
    border-color:silver;      
}
.jumbotron {
    background-color:aqua;
    padding:30px;
    margin:0px;
    text-align:center;
    
}
.input-group{
    padding:0px;
    max-width:500px;
    margin:auto;
    text-align:center;
  /*  border-style:solid;
    border-color:black; */
}
.container{
    padding:50px;
    margin:0px;
    max-width:100%;
    background-color: cornflowerblue;
  /*  height:auto;*/
}
.container li:hover{
    border-color: blueviolet;
}
ul {
    list-style-type:none;
}

.list {
    padding:10px 10px 5px 20px;
    margin:15px;
    border-left-style: solid;
    border-color:silver;
}

.btn{
    float:right;
    background-color: blueviolet;
    color:white;
    cursor: pointer;
}
.button :hover{
    background-color:black;
}
#adding {
    padding:0px;
    max-width:400px;
    margin:auto;
  /*  border-color: black;
    border-style:solid;
*/}
#add{
    padding:5px;
    margin:auto;
}
#btnid {
    padding:5px;
    width:100px;
}