body{
    /*background-color: firebrick; */
    padding:0px;
    max-width:800px;
    margin:auto;
    border-radius:5px;
    border-style: solid;
    border-color:silver;      
}
.jumbotron {
    background-color:aqua;
    padding:30px;
    margin:0px;
    text-align:center;
    
}
.input-group{
    padding:0px;
    max-width:500px;
    margin:auto;
    text-align:center;
  /*  border-style:solid;
    border-color:black; */
}
.container{
    padding:50px;
    margin:0px;
    max-width:100%;
    background-color: cornflowerblue;
 /*   height:auto;*/
}
.container li:hover{
    border-color: blueviolet;
}
ul {
    list-style-type:none;
}

.list {
    padding:20px;
    margin:25px;
    border-left-style: solid;
    border-color:silver;
    display:block;
}

.btn{
    float:right;
    background-color: blueviolet;
    color:white;
    cursor: pointer;
}
.button :hover{
    background-color:black;
}
#adding {
    padding:0px;
    max-width:400px;
    margin:auto;
  /*  border-color: black;
    border-style:solid;
*/}
#add{
    padding:5px;
    margin:auto;
}
#btnid {
    padding:5px;
    width:100px;
}

#adding #hide {
    padding:5px;
    margin:auto;
    border-color:black;
    display:inline-block;
    cursor: pointer;
    line-height: 50px;
}
#tabbed-content {
    padding:15px;
    margin:15px;
    background: white;
    border-radius: 5px;
    
}
#tabbed-content #tabs{
    display:inline-block;
    font-size: 20px;
    padding:0px;
    margin:0px;
    color:white;
}

#tabbed-content li {
    padding:5px;
    margin:5px 5px 5px 0;
    cursor: pointer;
    background:black;
    border-color:white;
    border-radius:5px;
    display: inline-block;
}
#tabbed-content .panel.active{
    display:block;
}
#tabbed-content .panel{
    display:none;
}
